* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    color: rgba(6,27,50,255);
    
}

header img {
    margin: 10px 0px 0px 20px ;
    vertical-align: middle;
}
