* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgba(246,248,249,255);
}

header, h1 {
    background-color: white;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    color: rgba(6,27,50,255);
    
}

header img {
    margin: 10px 0px 0px 20px ;
    vertical-align: middle;
}

nav {
    background-color: white;
    width: 900px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 5px;
    border-radius: 8px;
    height: 60px;
    padding: 10px 50px;   
}

nav button {
    border-radius: 5px;
    padding: 8px;
    border-style: solid;
}

.button1 {
    color: white;
    background-color: rgba(71,173,241,255);
    border-color: rgba(71,173,241,255);
}

.button2 {
    color: #a1a4a7;
    background-color: rgba(255,255,255,255);
    border-color: #a1a4a7;
}

.main-task {
    background-color: white;
    width: 900px;
    height: 900px;
    margin: auto;
    padding: 30px 50px;
}

.check {
    border: 1px solid #6bc3ae;
    color: #6bc3ae;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
}

.cross {
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;

}